* {
	padding:0;
	margin:0;
}

body {
	text-align: center;
	background: url(../images/greenbg.png);
	color: #fff;
	font-family: myriad pro;	
}
#gameStats{
	background: #001711;
	width: 780px;
	margin: 20px auto 20px;
	display: block;
	-moz-box-shadow: 0px 3px 8px #000;
	box-shadow: 0px 3px 8px #000;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	padding: 10px;
	overflow: auto;
}

#gameStats p#timer{
	width: 200px;
	float: left;
	text-align: left;
	font-family: myriad pro;
	padding: 0 0 0 10px;
}
#gameStats p#reset{
	width: 200px;
	float: right;
	text-align: right;
	padding: 0 10px 0 0;
	}

#gameStats .gameReset{
	width: 200px;
	float: right;
	text-align: right;
	font-family: myriad pro;
	padding: 0 10px 0 0;
	color: #fff;
	text-decoration:none;
	display:block;
}

#game {
	background: #001711;
	width: 760px;
	height: 470px;
	margin: 0 auto;
	display: block;
	-moz-box-shadow: 0px 3px 12px #000;
	-webkit-box-shadow: 0px 3px 12px #000;
	box-shadow: 0px 3px 12px #000;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	padding: 20px;
}

#cards {
	position: relative;
	width: 760px;
	height: 480px;
	display: none;
}
/* Define the 3D perspective view and dimension of each card. */
.card {
	-moz-perspective: 600px;
    -webkit-perspective: 600px;
	width: 109px;
	height: 145px;
	position: absolute;
	-moz-transition: all .3s;
	-webkit-transition: all .3s;
	transition: all .3s;
	cursor: pointer;
}

#gameIntro {
	background:url(../images/startpage.png) top left no-repeat;
	padding: 80px 0;
	text-align: center;
	height: 330px;
}

#gameIntro a.button {
	background: white;
	border-radius: 5px;
	display: block;
	font-size: 30px;
	margin: 230px auto 0;
	padding: 10px;
	width: 150px;
	border: 3px solid #006438;
	color:#006438;
	text-decoration:none;
}

#gameIntro a.button:hover {
	background: #006438;
	color:#fff;
	text-decoration:none;
}


#gameComplete {
	background:url(../images/endPage.png) top left no-repeat;
	padding: 80px 0;
	text-align: center; 
	height: 330px;
}

#gameComplete a.button {
	background: white;
	border-radius: 5px;
	display: block;
	font-size: 30px;
	margin: 50px auto 0;
	padding: 10px;
	width: 150px;
	border: 5px solid #006438;
	color:#006438;
	text-decoration:none;
}

#gameComplete p#top {
	margin: 200px 0 0;
	font-size: 20px;
	color:#006438;
}

.face {
	width: 100%;
	height: 100%;
	position: absolute;
	-webkit-transform-style: preserve-3d; 
    -moz-transform-style: preserve-3d; /** fixes non transitive 3d from parent and child **/
    transform-style: preserve-3d;
    -moz-transition-property: opacity, transform, box-shadow;
     -moz-transition-duration: .3s;
	-webkit-transition-property: opacity, transform, box-shadow;
	-webkit-transition-duration: .3s;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
}

.front {
	background: url(../images/deck.jpg) 0 -146px;
	z-index: 10;
}
.back {
	background: #efefef url(../images/deck.jpg);
	-webkit-transform-style: preserve-3d; 
    -moz-transform-style: preserve-3d; /** fixes non transitive 3d from parent and child **/
    transform-style: preserve-3d;
	-webkit-transform: rotate3d(0,1,0,-180deg);
	-moz-transform: rotate3d(0,1,0,-180deg);
	transform: rotate3d(0,1,0,-180deg);
	z-index: 8;
}
.card:hover .face, .card-flipped .face {
	-webkit-box-shadow: 0 0 6px #aaa;
	box-shadow: 0 0 6px #aaa;
}
.card-flipped .front {
	-webkit-transform-style: preserve-3d; 
    -moz-transform-style: preserve-3d; /** fixes non transitive 3d from parent and child **/
    transform-style: preserve-3d;
	-webkit-transform: rotate3d(0,1,0,180deg);
	-moz-transform: rotate3d(0,1,0,180deg) translate3d(0, 50px, 50px);
	transform: rotate3d(0,1,0,180deg);
	z-index: 8;
}
.card-flipped .back {
	-webkit-transform-style: preserve-3d; 
    -moz-transform-style: preserve-3d; /** fixes non transitive 3d from parent and child **/
    transform-style: preserve-3d;
	-webkit-transform: rotate3d(0,1,0,0deg);
	-moz-transform: rotate3d(0,1,0,0deg);
	transform: rotate3d(0,1,0,0deg);
	z-index: 10;
}
.card-removed {
	opacity: 0;
}

.blueDino {background-position: 0 0;}
.brownDino {background-position: -110px 0;}
.redDino {background-position: -220px 0;}
.greenDino {background-position: -330px 0;}
.purpDino {background-position: -440px 0;}
.burgDino {background-position: -550px 0;}
.orangeDino {background-position: -660px 0;}
.purp2Dino {background-position: -770px 0;}
.pinkDino {background-position: -880px 0;}


#linkBack a.button {
	background: white;
	border-radius: 5px;
	display: block;
	font-size: 30px;
	margin: 30px auto 0;
	padding: 10px;
	width: 250px;
	border: 3px solid #006438;
	color:#006438;
	text-decoration:none;
}

#linkBack a.button:hover {
	background: #006438;
	color:#fff;
	text-decoration:none;
}
